<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-3xl font-bold">Mes examens</h1>
      <span class="font-medium">7 examens à venir</span>
    </div>
    <button (click)="showAddModal = true" class="bg-orange-500 hover:bg-orange-600 text-white px-6 py-3 rounded-lg font-medium">Organiser un examen
    </button>
  </div>
  <div class="flex flex-col w-full rounded-2xl border-4 p-5 mb-5 gap-5">
    <h2 class="font-bold text-2xl text-center"> Statistiques des examens</h2>
    <div class="flex flex-row justify-between items-center gap-5">
      <div class="border-4 rounded-2xl p-10 w-full pb-15 h-40">
        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-col gap-3">
            <span class="text-normal">Confirmé</span>
            <span class="font-bold text-[green] text-3xl">28</span>
          </div>
          <i class="fa-regular fa-circle-check text-[green] font-bold text-3xl"></i>
        </div>
      </div>
      <div class="border-4 rounded-2xl p-10 w-full pb-15 h-40">
        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-col gap-3">
            <span class="text-normal">À organiser</span>
            <span class="font-bold text-[orange] text-3xl">12</span>
          </div>
          <i class="fa-solid fa-clipboard-list text-[orange] font-bold text-3xl"></i>
        </div>
      </div>
      <div class="border-4 rounded-2xl p-10 w-full pb-15 h-40">
        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-col gap-3">
            <span class="text-normal">Annulé</span>
            <span class="font-bold text-[red] text-3xl">5</span>
          </div>
          <i class="fa-solid fa-x text-[red] font-bold text-3xl"></i>
        </div>
      </div>
      <div class="border-4 rounded-2xl p-10 w-full pb-15 h-40">
        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-col gap-3">
            <span class="text-normal">En recherche de place</span>
            <span class="font-bold text-[blue] text-3xl">8</span>
          </div>
          <i class="fa-solid fa-clock text-[blue] font-bold text-3xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full justify-center space-y-5">
    <div class="border-4 py-5 rounded-2xl pr-40 pl-10
            shadow-md
            hover:shadow-orange-500/50
            hover:-translate-y-2
            transition duration-300 ease-in-out">
      <div class="flex items-center">
        <div class="flex items-center space-x-8">
          <span class="font-normal flex items-center space-x-2 w-40"><i class="fa-regular fa-user"></i><strong>Isabella.S</strong></span>
          <span class="font-normal italic text-[gray] flex items-center space-x-2 w-48"><i
            class="fa-solid fa-location-dot mr-2"></i>En attente</span>
          <span class="font-normal italic text-[gray] flex items-center space-x-2 w-40"><i
            class="fa-regular fa-calendar-days mr-2"></i>En attente</span>
          <span class="font-normal italic text-[gray] flex items-center space-x-2 w-40"><i
            class="fa-regular fa-clock mr-2"></i>En attente</span>
        </div>
        <div class="flex items-center space-x-2 ml-4">
          <span class="font-normal bg-gray-200 text-cente w-lg rounded-lg px-3 py-1"><i
            class="fa-regular fa-hourglass-half mr-2"></i>En recherche de place</span>
        </div>
      </div>
    </div>
    <div class="border-4 py-5 rounded-2xl pr-40 pl-10 shadow-md hover:shadow-orange-500/50 hover:-translate-y-2
            transition duration-300 ease-in-out">
      <div class="flex items-center">
        <div class="flex items-center space-x-8">
          <span class="font-normal flex items-center space-x-2 w-40"><i class="fa-regular fa-user"></i><strong>Franziska.S</strong></span>
          <span class="font-normal flex items-center space-x-2 w-48"><i class="fa-solid fa-location-dot mr-2"></i>Martigues-B</span>
          <span class="font-normal flex items-center space-x-2 w-40"><i class="fa-regular fa-calendar-days mr-2"></i>16 juin</span>
          <span class="font-normal flex items-center space-x-2 w-40"><i class="fa-regular fa-clock mr-2"></i>14h</span>
        </div>
        <div class="flex items-center space-x-2 ml-4">
          <span class="font-normal bg-green-200 text-center text-[green] font-medium w-lg rounded-lg px-3 py-1"><i
            class="fa-solid fa-check mr-2"></i>Confirmé</span>
        </div>
      </div>
    </div>
    <div class="border-4 py-5 rounded-2xl pr-40 pl-10 shadow-md hover:shadow-orange-500/50 hover:-translate-y-2
            transition duration-300 ease-in-out">
      <div class="flex items-center">
        <div class="flex items-center space-x-8">
          <span class="font-normal flex items-center space-x-2 w-40"><i
            class="fa-regular fa-user"></i><strong>Lucas.R</strong></span>
          <span class="font-normal flex items-center space-x-2 w-48"><i class="fa-solid fa-location-dot mr-2"></i>Martigues-B</span>
          <span class="font-normal flex items-center space-x-2 w-40"><i class="fa-regular fa-calendar-days mr-2"></i>21 juin</span>
          <span class="font-normal flex items-center space-x-2 w-40"><i class="fa-regular fa-clock mr-2"></i>17h</span>
        </div>
        <div class="flex items-center space-x-2 ml-4">
          <span class="font-normal bg-orange-200 text-center text-orange-700 font-medium w-lg rounded-lg px-3 py-1"><i
            class="fa-solid fa-paper-plane mr-2"></i>À organiser</span>
        </div>
      </div>
    </div>
    <div class="border-4 py-5 rounded-2xl pr-40 pl-10 shadow-md hover:shadow-orange-500/50 hover:-translate-y-2
            transition duration-300 ease-in-out">
      <div class="flex items-center">
        <div class="flex items-center space-x-8">
          <span class="font-normal flex items-center space-x-2 w-40"><i
            class="fa-regular fa-user"></i><strong>Léo.C</strong></span>
          <span class="font-normal flex items-center space-x-2 w-48"><i class="fa-solid fa-location-dot mr-2"></i>Martigues-B</span>
          <span class="font-normal flex items-center space-x-2 w-40"><i class="fa-regular fa-calendar-days mr-2"></i>26 mai</span>
          <span class="font-normal flex items-center space-x-2 w-40"><i class="fa-regular fa-clock mr-2"></i>13h</span>
        </div>
        <div class="flex items-center space-x-2 ml-4">
          <span class="font-normal bg-red-200 text-center text-red-700 font-medium w-lg rounded-lg px-3 py-1"><i
            class="fa-solid fa-x mr-2"></i>Annulé</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-exam-form
  [isOpen]="showAddModal"
  (closeEvent)="showAddModal = false"
>
</app-exam-form>
